body{
    height: 400px;
    background: url(/templates/Images/user/fondo.jpg);
    background-size: cover;
    height: 100%;
    background-repeat:no-repeat;
    background-position: center center;
}
label, span{
    color: white;
}
h1{
    color: white;
}
.bg{
    background: url(/templates/Images/user/foto.jpg);
    background-size: cover;
    background-position: center center;
}
.tabla_novedad{
    width: 100% !important;
    height: 300px;
}.tabla_emple{
    width: 100% !important;
    height: 300px;
}
.frame_emple{
    background-color: rgb(29, 29, 29);
}
.frame_nov{
    background-color: rgb(29, 29, 29);
}