body{
    height: 400px;
    background: url(/templates/Images/fondo.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
label, span{
    color: white;
}