body{
    height: 400px;
    background: url(/Images/fondo.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
label, span{
    color: white;
}
.bg{
    background: url(/Images/foto.jpg);
    background-size: cover;
    background-position: center center;
}