<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/Imagenes/logo.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/admin.css">
    <script src="/JS/Funcionalidad.JS" defer></script>
    <title>Administrador</title>
</head>
<body>
    <div class="menu-dashboard open">
        <!--TOP MENU-->
        <div class="top-menu">
            <div class="logo">
                <img src="/Imagenes/logo.png" alt="">
                <span>Operaciones</span>
            </div>
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!--Input Search-->
        <div class="input-search">
            <i class='bx bx-search-alt' ></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <!--Menu-->
        <div class="menu">
            <div class="enlace">
                <i class='bx bxs-briefcase' ></i>
                <span>Empleado</span>
            </div>

            <div class="enlace">
                <i class='bx bxs-user'></i>
                <span>Cliente</span>
            </div>

            <div class="enlace">
                <i class='bx bxs-book-open' ></i>
                <span>Libros</span>
            </div>

            <div class="enlace">
                <i class='bx bx-movie' ></i>
                <span>Peliculas</span>
            </div>

            <div class="enlace">
                <i class="bx bx-data"></i>
                <span>Datos</span>
            </div>
        </div>
    </div>
</body>
</html>