<html>
    <head>
        <title>Registrarse</title>
        <link rel="shortcut icon" src="https://images.vexels.com/media/users/3/172916/raw/a02f954806df988b2e44bbb41d233414-conjunto-de-elementos-de-trazo-de-cine.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../stylesheet/registro.css">
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container w-50 bg-primary mt-5 rounded shadow">
            <div class="row align-items-md-stretch">
                <div class="col bg-dark p-5 rounded-end">
                    <div class="text-end">
                        <img src="../Images/logo.png" width="100" alt="">
                    </div>
                    <!--Register-->
                    <form action = "/register" method = "POST">
                        <div class="d-grid">
                            <h2 style="color: white; text-align: center;">Seleccione su cargo con el que desea registrarse</h2>
                            <label class="form-label">Nombre Completo</label>
                            <input type="text" class="form-control" name="name" placeholder="Nombre">
                            <label class="form-label">Apellido Completo</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Apellido">
                            <label class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" name="username" placeholder="NombreUsuario">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="password">
                            <br>
                            <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br/>

                        </div>
                        <label class="form-label">Categoria</label>
                        <div class="select">
                            <select name="user_tipe">
                                <option>Cliente</option>
                                <option>Empleado</option>
                                <option>Administrador</option>
                            </select>
                        </div>
                        <br><br>
                        <div class="d-grid">
                            <button class="btn btn-primary">Aceptar</button>
                            <br>
                            <div class="d-grid">
                                <a class="btn btn-primary" href="{{ url_for('python_user_routes.log') }}">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../../js/funcionalidad.js"></script>
    </body>
</html>