<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Admin.css' ) }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <style>
        table.dataTable thead,
        table.dataTable tfoot {
            background-color: hsl(171, 100%, 41%);
        }

        .table thead th,
        .table tfoot th {
            color: hsl(0, 0%, 96%);
        }
    </style>
    <style type="text/css">
        #agregar,#salud_pension,
        #datos,#arl,#eps,#dependencia,#cargo,#pension {
            display: none;
        }
    </style>

</head>


<nav class="navbar" id="nav_bar_admin">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">

            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="{{ url_for('python_user_routes.home') }}">
                    Inicio
                </a>
                <a class="navbar-item" href="{{ url_for('python_admin_routes.info_empleado') }}">
                    Empleado
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_cliente') }}">
                    Cliente
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_libro') }}">
                    Libro
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_pelicula') }}">
                    Pelicula
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_dato') }}">
                    Datos
                </a>
                <a class="navbar-item"  href="{{ url_for('python_user_routes.logout') }}">
                    Salir
                </a>
            </div>
        </div>
    </div>
</nav>
</br>
</br>

<div class="container">
    <div class="columns">
        <div class="column is-1 ">

        </div>
        <div class="column is-9">
            <nav class="breadcrumb nav-center" aria-label="breadcrumbs">
                <ul>
                    <li><a onclick="inicio();">Inicio</a></li>
                    <li><a onclick="agregar();">FinalizarProceso</a></li>
                    <li><a onclick="datos();">Estadisticas</a></li>
                    <li><a onclick="arl();">Arl</a></li>
                    <li><a onclick="dependencia();">Dependencia</a></li>
                    <li><a onclick="cargo();">Cargo</a></li>
                    <li><a onclick="eps();">Eps</a></li>
                    <li><a onclick="pension();">Pension</a></li>
                </ul>
            </nav>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"></p>
                            <p class="subtitle">Empleados</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"></p>
                            <p class="subtitle">Clientes</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"></p>
                            <p class="subtitle">Libros</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">19</p>
                            <p class="subtitle">Clientes</p>
                        </article>
                    </div>
                </div>
            </section>
            <section id="inicio">
                <div class="column">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Filters
                            </p>
                        </header>
                        <section>
                            <div class="container is-fullhd">

                                <article class="tile is-child notification is-info">
                                    <p class="title">Reporte Nomina Empleados</p>
                                </article>
                                <table id="reporte_nomina" class="table is-striped is-hoverable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Empleado id</th>
                                            <th>nombre completo</th>
                                            <th>username</th>
                                            <th>cargo</th>
                                            <th>dependencia</th>
                                            <th>eps</th>
                                            <th>arl</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nomina in nomina_empleado %}
                                            <tr>
                                                <td>{{ nomina.Empleado.id }}</td>
                                                <td>{{ nomina.Empleado.name_completo }}</td>
                                                <td>{{ nomina.Empleado.username }}</td>
                                                <td>{{ nomina.Cargo.cargo }}</td>
                                                <td>{{ nomina.Dependencia.dependencia }}</td>
                                                <td>{{ nomina.Eps.eps }}</td>
                                                <td>{{ nomina.Arl.arl }}</td>
                                                <td><a href="{{ url_for('python_empleado_routes.delete_emp', id =nomina.Empleado.id) }}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Empleado id</th>
                                            <th>nombre</th>
                                            <th>apellido</th>
                                            <th>username</th>
                                            <th>cargo</th>
                                            <th>dependencia</th>
                                            <th>eps</th>
                                            <th>arl</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <section>
                    <div class="column">
                        <div class="card">
                        </br>
                            <section class="container">
                                <div class="columns is-multiline">
                                  <div class="column is-8 is-offset-2 register">
                                    <div class="columns">
                                      <div class="column right has-text-centered">
                                        <h1 class="title is-4">Exportar EXCEL</h1>
                                        <form action="/excel_empleado" method="POST">
                                            <button class="button is-block is-primary is-fullwidth is-medium">
                                                Exportar Excel
                                            </button>
                                        </form>
                                      </div>
                                      <div class="column right has-text-centered">
                                        <h1 class="title is-4">Exportar EXCEL</h1>
                                        <form action="/pdf_empleado" method="POST">
                                            <p><a href="http://localhost:5000/pdf_empleado">Convert to PDF</a></p>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </br>
                        </div>
                    </div>
                </section>
            </section>
            <section id="agregar">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Termina el proceso de agregar empleado</h1>
                                    <p class="description">Registra los siguientes datos</p>
                                  </br>
                                    <form action="/register_nomina" method="POST">
                                        <div class="field">
                                            <label class="label">Empleado</label>
                                            <div class="control">
                                              <div class="select is-normal">
                                                <select name="empleado_id">
                                                    {% for empleado in all_empleados%}
                                                        <option>{{ empleado.username }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="field">
                                            <label class="label">Arl</label>
                                            <div class="control">
                                              <div class="select is-normal">
                                                <select name="arl_id">
                                                    {% for arl in all_arl%}
                                                        <option>{{ arl.arl }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="field">
                                            <label class="label">Cargo</label>
                                            <div class="control">
                                              <div class="select is-normal">
                                                <select name="cargo_id">
                                                    {% for cargo in all_cargo%}
                                                        <option>{{ cargo.cargo }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="field">
                                            <label class="label">Eps</label>
                                            <div class="control">
                                              <div class="select">
                                                <select name="eps_id">
                                                    {% for eps in all_eps%}
                                                        <option>{{ eps.eps }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="field">
                                            <label class="label">Dependencia</label>
                                            <div class="control">
                                              <div class="select is-normal">
                                                <select name="dependencia_id">
                                                    {% for dependencia in all_dependencia%}
                                                        <option>{{ dependencia.dependencia }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="field">
                                            <label class="label">Pension</label>
                                            <div class="control">
                                              <div class="select is-normal">
                                                <select name="pension_id">
                                                    {% for pension in all_pension %}
                                                        <option>{{ pension.pension }}</option>
                                                    {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <input class="input is-medium" type="text" name="empleado_sueldo" placeholder="Sueldo">
                            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="datos">
                <div class="column">
                    <div class="card">
                        <canvas id="lineChart" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("lineChart").getContext("2d");
                            var lineChart = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: {{ labels | safe }},
                                    datasets: [{
                                        label: "Data point"
                                        data: {{ values | safe }},
                                        fill: false,
                                        borderColor: "rgb(75,192,192)",
                                        lineTension: 0.1
                                    }]
                                },
                            })
                        </script>
                    </div>
                </div>
            </section>
            <section id="arl">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Arl</h1>
                                    <p class="description">Registra una Arl</p>
                                    <form action="/register_arl" method="POST">
                                        <input class="input is-medium" type="text" name="arl_name" placeholder="Registra una ARL">
                                        <br/>
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="eps">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">EPS</h1>
                                    <p class="description">Registra una eps</p>
                                    <form action="/register_eps" method="POST">
                                        <input class="input is-medium" type="text" name="eps_name" placeholder="Registra una EPS">
                                        <br/>
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="cargo">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Cargo</h1>
                                    <p class="description">Registra una cargo</p>
                                    <form action="/register_cargo" method="POST">
                                        <input class="input is-medium" type="text" name="cargo_name" placeholder="Registra un cargo">
                                        <br/>
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="dependencia">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Registra Dependencias</h1>
                                    <p class="description">Por ejemplo Tecnologia</p>
                                    <form action="/register_dependencia" method="POST">
                                        <input class="input is-medium" type="text" name="dependencia_name" placeholder="dependencia">
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="pension">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Registra Pension</h1>
                                    <p class="description"></p>
                                    <form action="/register_pension" method="POST">
                                        <input class="input is-medium" type="text" name="pension_name" placeholder="dependencia">
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script async type="text/javascript" src="../js/bulma.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reporte_nomina').DataTable();
    });
</script>
<script type="text/javascript">

    function cerrar_pestanas(){
        document.getElementById('inicio').style.display = 'none';
        document.getElementById('agregar').style.display = 'none';
        document.getElementById('datos').style.display = 'none';
        document.getElementById('cargo').style.display = 'none';
        document.getElementById('arl').style.display = 'none';
        document.getElementById('pension').style.display = 'none';
        document.getElementById('eps').style.display = 'none';
        document.getElementById('dependencia').style.display = 'none';
        document.getElementById('cargo').style.display = 'none';
    }

    function inicio() {
        cerrar_pestanas()
        document.getElementById('inicio').style.display = 'block';
    }

    function agregar() {
        cerrar_pestanas()
        document.getElementById('agregar').style.display = 'block';
    }

    function datos() {
        cerrar_pestanas()
        document.getElementById('datos').style.display = 'block';
    }
    function arl() {
        cerrar_pestanas()
        document.getElementById('arl').style.display = 'block';
    }
    function pension() {
        cerrar_pestanas()
        document.getElementById('pension').style.display = 'block';
    }
    function eps() {
        cerrar_pestanas()
        document.getElementById('eps').style.display = 'block';
    }
    function dependencia() {
        cerrar_pestanas()
        document.getElementById('dependencia').style.display = 'block';
    }
    function cargo() {
        cerrar_pestanas()
        document.getElementById('cargo').style.display = 'block';
    }



</script>
</body>
</html>