<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Admin.css' ) }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">

    <style>
        table.dataTable thead,
        table.dataTable tfoot {
            background-color: hsl(171, 100%, 41%);
        }

        .table thead th,
        .table tfoot th {
            color: hsl(0, 0%, 96%);
        }
    </style>

</head>

<body>
<nav class="navbar" id="nav_bar_admin">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">

            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="{{ url_for('python_user_routes.home') }}">
                Inicio
              </a>
              <a class="navbar-item" href="{{ url_for('python_admin_routes.info_empleado') }}">
                Empleado
              </a>
              <a class="navbar-item">
                Cliente
              </a>
              <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_libro') }}">
                Libro
              </a>
              <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_pelicula') }}">
                Pelicula
              </a>
              <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_dato') }}">
                Datos
              </a>
              <a class="navbar-item"  href="{{ url_for('python_user_routes.logout') }}">
                Salir
              </a>
            </div>
        </div>
    </div>
</nav>
</br>

<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-1 ">

        </div>
        <div class="column is-9">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                         
                        </h1>
                        <h2 class="subtitle">
                            {{ admin.name }}
                            Bienvenido administrador
                        </h2>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"> {{ empleados }}</p>
                            <p class="subtitle">Empleados</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">{{ clientes }}</p>
                            <p class="subtitle">Clientes</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"> {{ libros }} </p>
                            <p class="subtitle">Libros</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"> {{ peliculas }} </p>
                            <p class="subtitle">Peliculas</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="hero is-info is-small">
                <div class="hero-body">
                  <div class="container has-text-centered">
                    <p class="title">
                      Todaas las funciones
                    </p>
                    <p class="subtitle">
                      Aca se encuentran los difrentes apartados
                    </p>
                  </div>
                </div>
              </section>
              <div class="box cta">
                <p class="has-text-centered">
                  <span class="tag is-primary">New</span> Elige alguno
                </p>
              </div>
              <section class="container">
                <div class="columns features">
                  <div class="column is-4">
                    <div class="card is-shady">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://www.educima.com/imagen-empleado-de-oficina-dl30427.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <h4>Empleado</h4>
                          <p>Seccion en la cual se va hacer la gestion del emplado y la nomina</p>
                          <span class="button is-link modal-button" data-target="modal-image2">Image modal</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-4">
                    <div class="card is-shady">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://smallbusinessify.com/wp-content/uploads/2018/12/Business-and-competition-1068x783.jpg" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <h4>Cliente</h4>
                          <p>Seccion donde se puede realizar la gestion a un cliente</p>
                          <span class="button is-link modal-button" data-target="modal-card">Modal Card</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-4 modal-button" data-target="modal-image">
                    <div class="card is-shady">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://i.pinimg.com/originals/bd/7f/bf/bd7fbf91dce964512348db37fb472469.jpg" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <h4>Libros</h4>
                          <p>Seccion dopnde se hace el registro de libros y su gestion</p>
                          <span class="button is-link modal-button" data-target="modal-image">Image modal</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="columns features">
                  <div class="column is-4 modal-button" data-target="modal-card">
                    <div class="card is-shady">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://th.bing.com/th/id/R.74ef8956cc31d46a74ad6844fd1547c2?rik=GwSj5HcXoZOZyA&riu=http%3a%2f%2fwww.agropak.com.tr%2fimg%2ftanitimvideo.jpg&ehk=PHjwxdRo1WOeZXIbAcsSuc5c%2b9JeZcTVRcGMgKjlNQg%3d&risl=&pid=ImgRaw&r=0" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <h4>Pelicula</h4>
                          <p>Seccion en donde se va a gestionar las peliculas</p>
                          <span class="button is-link modal-button">Modal card</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column is-4">
                    <div class="card is-shady">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly image" class="modal-button" data-target="modal-image4">
                        </figure>
                      </div>
                      <div class="card-content  modal-button" data-target="modal-card2">
                        <div class="content">
                          <h4>Datos</h4>
                          <p>Gestion adicional de otros elementos</p>
                          <span class="button is-link modal-button">Modal card</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>