<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Admin.css' ) }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bulma.min.css">

    <style>
        table.dataTable thead,
        table.dataTable tfoot {
            background-color: hsl(171, 100%, 41%);
        }

        .table thead th,
        .table tfoot th {
            color: hsl(0, 0%, 96%);
        }
    </style>
    <style type="text/css">
        #agregar,
        #autor,#publicador {
            display: none;
        }
    </style>

</head>


<nav class="navbar" id="nav_bar_admin">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">

            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="{{ url_for('python_user_routes.home') }}">
                    Inicio
                </a>
                <a class="navbar-item" href="{{ url_for('python_admin_routes.info_empleado') }}">
                    Empleado
                </a>
                <a class="navbar-item">
                    Cliente
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_libro') }}">
                    Libro
                </a>
                <a class="navbar-item"  href="{{ url_for('python_admin_routes.info_pelicula') }}">
                    Pelicula
                </a>
                <a class="navbar-item">
                    Datos
                </a>
            </div>
        </div>
    </div>
</nav>
</br>
</br>

<div class="container">
    <div class="columns">
        <div class="column is-1 ">

        </div>
        <div class="column is-9">
            <nav class="breadcrumb nav-center" aria-label="breadcrumbs">
                <ul>
                    <li><a onclick="inicio();">Inicio</a></li>
                    <li><a onclick="agregar();">Agregar</a></li>
                    <li><a onclick="autor();">Autor</a></li>
                    <li><a onclick="publicador();">Publicador</a></li>
                </ul>
            </nav>
            <section id="inicio">
                <div class="column">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Filters
                            </p>
                        </header>
                        <section>
                            <div class="container is-fullhd">

                                <article class="tile is-child notification is-info">
                                    <p class="title">Datatables estilo Bulma</p>
                                </article>
                                <table id="example" class="table is-striped is-hoverable" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>last_name</th>
                                        <th>username</th>
                                        <th>usertipe</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>id</th>
                                        <th>name</th>
                                        <th>last_name</th>
                                        <th>username</th>
                                        <th>usertipe</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section id="agregar">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Agregar Libro</h1>
                                    <p class="description">Registra una Libro</p>
                                    <form action="/register_book" method="POST">
                                        <input class="input is-medium" type="text" name="titulo" placeholder="Titulo">
                                        <input class="input is-medium" type="text" name="avrege_raiting" placeholder="Promedio de Raiting">
                                        <input class="input is-medium" type="text" name="isbn" placeholder="ISBN">
                                        <input class="input is-medium" type="text" name="isbn13" placeholder="ISBN13L">
                                        <input class="input is-medium" type="text" name="language_code" placeholder="Languaje code">
                                        <input class="input is-medium" type="text" name="raiting_count" placeholder="Numero de raiting">
                                        <input class="input is-medium" type="text" name="text_reviews" placeholder="Review">
                                        <input class="input is-medium" type="text" name="num_pages" placeholder="Num Pages">
                                        <input class="input is-medium" type="text" name="text_reviews_count" placeholder="Review Cont">
                                        <input class="input is-medium" type="text" name="publication_date" placeholder="PublicationDate">
                                        <br/>
                                        <div>
                                            <label class="form-label">Autores</label>
                                            <select class="select" name="author_id">
                                                {% for author in all_author%}
                                                    <option>{{ author.author_complete_name }}</option>
                                                {% endfor %}
                                    
                                            </select>
                                        </div>
                                        <div>
                                            <label class="form-label">Publicadores</label>
                                            <select class="select" name="publicador_id">
                                                {% for publicador in all_publicadores%}
                                                    <option>{{ publicador.name }}</option>
                                                {% endfor %}
                                    
                                            </select>
                                        </div>
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="autor">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Autor</h1>
                                    <p class="description">Registra un autor</p>
                                    <form action="/register_author" method="POST">
                                        <input class="input is-medium" type="text" name="author_complete_name" placeholder="Nombre">
                                        <br/>
                                    
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
            <section id="publicador">
                <div class="column">
                    <div class="card">
                    </br>
                        <section class="container">
                            <div class="columns is-multiline">
                              <div class="column is-8 is-offset-2 register">
                                <div class="columns">
                                  <div class="column right has-text-centered">
                                    <h1 class="title is-4">Publicador</h1>
                                    <p class="description">Registra una publicador</p>
                                    <form action="/register_publicador" method="POST">
                                        <input class="input is-medium" type="text" name="publicador_name" placeholder="Publicador">
                                        <br/>
            
                                        <button class="button is-block is-primary is-fullwidth is-medium">
                                            save
                                        </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </br>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bulma.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script async type="text/javascript" src="../js/bulma.js"></script>
<script type="text/javascript">

    function cerrar_pestanas(){
        document.getElementById('inicio').style.display = 'none';
        document.getElementById('agregar').style.display = 'none';
        document.getElementById('autor').style.display = 'none';
        document.getElementById('publicador').style.display = 'none';
    
    }

    function inicio() {
        cerrar_pestanas()
        document.getElementById('inicio').style.display = 'block';
    }

    function agregar() {
        cerrar_pestanas()
        document.getElementById('agregar').style.display = 'block';
    }

    function autor() {
        cerrar_pestanas()
        document.getElementById('autor').style.display = 'block';
    }
    function publicador() {
        cerrar_pestanas()
        document.getElementById('publicador').style.display = 'block';
    }




</script>
</body>
</html>