body{
    height: 400px;
    background: url('/Images/fondo.jpg');
    background: url(Images/fondo.jpg);
    background-size: cover;
    height: 100%;
    background-repeat:no-repeat;
    background-position: center center;
}
label, span{
    color: white;
}
h1{
    color: white;
}
.bg{
    background: url('/Images/foto.jpg');
    background: url(Images/foto.jpg);
    background-size: cover;
    background-position: center center;
}
.tabla_novedad{
    width: 100% !important;
    height: 300px;
}.tabla_emple{
    width: 100% !important;
    height: 300px;
}
.frame_emple{
    background-color: rgb(29, 29, 29);
}
.frame_nov{
    background-color: rgb(29, 29, 29);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border:0 !important;
    background: gray;
    background-image: none;
    flex: 1;
    padding: 0 5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }
  select::-ms-expand {
    display: block;
  }
  .select{
    position: relative;
    display: flex;
    width: 50%;
    height: 3em;
    line-height: 3;
    background: rgb(63, 63, 63);
    overflow: hidden;
    border-radius: .25em;
  }
